rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to startups and their milestones for the leaderboard and profile pages
    match /startups/{startupId}/{document=**} {
      allow list, get: if true;
    }

    // Allow anyone to submit a new milestone for verification
    match /startups/{startupId}/milestones/{milestoneId} {
      allow create: if true;
    }
  }
}
