@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 197 75% 94%; /* light blue */
    --foreground: 224 71% 4%;
    --card: 197 75% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 197 75% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 53%; /* saturated blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 197 60% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 197 60% 88%;
    --muted-foreground: 224 71% 15%;
    --accent: 120 73% 75%; /* bright green */
    --accent-foreground: 120 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 83%;
    --input: 197 50% 88%;
    --ring: 197 71% 53%;
    --chart-1: 197 71% 53%;
    --chart-2: 120 73% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 6%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 210 40% 98%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 197 71% 53%;
    --chart-1: 197 71% 53%;
    --chart-2: 120 73% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
